<p>Добавить описание болезни</p>
<div mat-dialog-content>
  <mat-form-field class="form-floating login-data">
    <mat-label>Название болезни</mat-label>
    <input matInput required [(ngModel)]='issue.name'>
  </mat-form-field>

  <mat-form-field class="form-floating login-data">
    <mat-label>Описание болезни</mat-label>
    <input matInput required [(ngModel)]='issue.description'>
  </mat-form-field>

  <mat-form-field class="form-floating login-data">
    <mat-label>Дата диагностирования</mat-label>
    <input matInput required [(ngModel)]='issue.dateOfDiagnosis' [matDatepicker]="picker">
    <mat-hint>MM/ДД/ГГГГ</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="form-floating login-data">
    <mat-label>Информация о докторе</mat-label>
    <input matInput required [(ngModel)]='issue.doctorData'>
  </mat-form-field>
</div>
<button mat-flat-button [disabled]="!isFilled()" class="bottom-margin" (click)="add()" color="primary">Добавить</button>
