<mat-toolbar color='primary'>
  <span class="title" (click)='routeHome()'>
    Военный комиссариат
  </span>

  <!-- Admin -->
  <button mat-button class='button' [matMenuTriggerFor]="userManagement" *ngIf='user && isUserAdmin() && isUserAuthenticated()'>
    <div class="correct-color">Работа с пользователями</div>
    <mat-icon class="correct-color" role='img'>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #userManagement="matMenu">
    <button mat-menu-item (click)='openUserDialog()'>
      <mat-icon>category</mat-icon>
      Создать
    </button>
    <button mat-menu-item (click)='openUserListDialog()'>
      <mat-icon>category</mat-icon>
      Показать всех
    </button>
    <!-- <button mat-menu-item (click)='openCollectionsDialog()'>
      <mat-icon>category</mat-icon>
      Коллекции
    </button> -->
  </mat-menu>

  <button mat-button class='button' [matMenuTriggerFor]="reports" *ngIf='user && isUserAdmin() && isUserAuthenticated()'>
    <div class="correct-color">Отчеты</div>
    <mat-icon class="correct-color" role='img'>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #reports="matMenu">
    <button mat-menu-item (click)="getUserReport()">
      <mat-icon>category</mat-icon>
      По всем пользователям
    </button>
    <button mat-menu-item (click)="getCiviliansReport()">
      <mat-icon>category</mat-icon>
      По всем призывникам
    </button>
    <button mat-menu-item (click)='getEmployeesReport()'>
      <mat-icon>category</mat-icon>
      По всем сотрудникам
    </button>
    <button mat-menu-item (click)='getDeviatorsReport()'>
      <mat-icon>category</mat-icon>
      По уклонистам
    </button>
    <button mat-menu-item (click)='getDeviatorsReport()'>
      <mat-icon>category</mat-icon>
      По годными к призыву
    </button>
    <button mat-menu-item (click)='getDeviatorsReport()'>
      <mat-icon>category</mat-icon>
      По негодным к призыву
    </button>
    <button mat-menu-item (click)='getDeviatorsReport()'>
      <mat-icon>category</mat-icon>
      По уклонистам
    </button>
    <button mat-menu-item (click)='getDeviatorsReport()'>
      <mat-icon>category</mat-icon>
      По всем отправленным повесткам
    </button>
  </mat-menu>

  <span class="title-right">
    <button mat-button [matMenuTriggerFor]="accountMenu">
      <mat-icon>
        account_circle
      </mat-icon>
    </button>
  </span>

  <mat-menu #accountMenu="matMenu">
    <button *ngIf="!isUserAuthenticated()" mat-menu-item (click)='routeToLogin()'>
      <mat-icon class="correct-color">arrow_right_alt</mat-icon>
      Войти в систему
    </button>
    <button *ngIf="isUserAuthenticated()" mat-menu-item (click)='goToProfile()'>
      <mat-icon>assignment_ind</mat-icon>
      Личный кабинет
    </button>
    <button *ngIf="isUserAuthenticated()" mat-menu-item (click)='logOut()'>
      <mat-icon>arrow_left_alt</mat-icon>
      Выйти
    </button>
  </mat-menu>
</mat-toolbar>
