.mat-toolbar {
  background: #0c3a03;
  color: #fff;
  height: 48px !important;
}

.title {
  margin-left: 10px;
}

.title-right {
  margin-left: auto;
  margin-right: 1px;
}

.button {
  margin-left: auto;
  margin-right: 10px;
  padding: 0px !important;
}

.correct-color {
  color: white;
}

