mat-form-field {
    width: 43%;
}

.login-div {
    margin: auto;
    max-width: 400px;
    margin-top: 200px;
}

.login-data {
    margin-bottom: 12px;
    width: 35%;
    margin-right: 10%;
    margin-left: 5%;
}

.form-data {
    margin: 0px;
    margin-top: 10px;
}

.mdc-dialog__actions {
    margin-left: 27%;
    margin-right: 20%;
}

.mat-mdc-dialog-content {
    max-height: 100%;
}

.selector-margin{
    margin-left: 8%;
    margin-top: 3%;
}