<h1 mat-dialog-title>Выберите тип пользователя</h1>
<div>
  <mat-button-toggle-group class="selector-margin" (change)="clearGenerickFields()" name="UserType" [(ngModel)]="userType" aria-label="User Type">
    <mat-button-toggle *ngIf="isUserAdmin" value="{{0}}">Сотрудник</mat-button-toggle>
    <mat-button-toggle value="{{1}}">Гражданский</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group *ngIf="userType=='1'" class="selector-margin" name="UserType" [(ngModel)]="userRole" aria-label="User Type">
    <mat-button-toggle value="{{0}}">Призывник</mat-button-toggle>
    <mat-button-toggle value="{{1}}">Доброволец</mat-button-toggle>
    <mat-button-toggle value="{{2}}">Срочник</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-button-toggle-group *ngIf="userType=='0'" class="selector-margin" name="UserType" [(ngModel)]="userRole" aria-label="User Type">
    <mat-button-toggle value="{{3}}">Комиссар</mat-button-toggle>
    <mat-button-toggle value="{{4}}">Медработник</mat-button-toggle>
    <mat-button-toggle value="{{5}}">Бухгалтерия</mat-button-toggle>
    <mat-button-toggle value="{{6}}">IT сотрудник</mat-button-toggle>
    <mat-button-toggle value="{{7}}">IT администратор</mat-button-toggle>
    <mat-button-toggle value="{{8}}">Сотрудник комиссариата</mat-button-toggle>
  </mat-button-toggle-group>

  <div mat-dialog-content>
    <mat-form-field class="form-floating login-data">
      <mat-label>Идентификационный номер</mat-label>
      <input matInput required [(ngModel)]='user.passportNumber'>
    </mat-form-field>

    <mat-form-field class="form-floating login-data">
      <mat-label>Имя</mat-label>
      <input matInput required [(ngModel)]='user.name'>
    </mat-form-field>

    <mat-form-field class="form-floating login-data">
      <mat-label>Фамилия</mat-label>
      <input matInput required [(ngModel)]='user.surname'>
    </mat-form-field>

    <mat-form-field class="form-floating login-data">
      <mat-label>Отчество</mat-label>
      <input matInput required [(ngModel)]='user.patronymic'>
    </mat-form-field>

    <mat-form-field class="form-floating login-data">
      <mat-label>Место прописки</mat-label>
      <input matInput required [(ngModel)]='user.currentAddress'>
    </mat-form-field>

    <mat-form-field class="form-floating login-data">
      <mat-label>Место проживания</mat-label>
      <input matInput required [(ngModel)]='user.placeOfResidence'>
    </mat-form-field>

    <mat-form-field class="form-floating login-data">
      <mat-label>Email</mat-label>
      <input matInput required [(ngModel)]='user.email'>
    </mat-form-field>

    <mat-form-field class="form-floating login-data">
      <mat-label>Номер телефона</mat-label>
      <input matInput required [(ngModel)]='user.phoneNumber'>
    </mat-form-field>

    <!-- Селект для роли -->
    <div *ngIf="userType=='1'">
      <mat-form-field class="form-floating login-data">
        <mat-label>Номер паспорта</mat-label>
        <input matInput required [(ngModel)]='user.passportIdentificationNumber'>
      </mat-form-field>
    </div>

    <div *ngIf="userType=='0'">
      <mat-form-field class="form-floating login-data">
        <mat-label>Звание</mat-label>
        <input matInput required [(ngModel)]='user.rank'>
      </mat-form-field>

      <mat-form-field class="form-floating login-data">
        <mat-label>Дата начала службы</mat-label>
        <input matInput required [(ngModel)]='user.serviceStartDate'>
      </mat-form-field>

      <mat-form-field class="form-floating login-data">
        <mat-label>Дата начала работы</mat-label>
        <input matInput required [(ngModel)]='user.workStartDate'>
      </mat-form-field>
      <!-- Добавить выбор пользователя для репорта -->
    </div>
  </div>
  <div mat-dialog-actions class="camp-dialog-default">
    <button [disabled]="userType == '' || userRole == ''"class="btn-color" mat-raised-button (click)="submit()">
      Сохранить
    </button>
    <button class="btn-color" mat-raised-button [mat-dialog-close]="user" cdkFocusInitial>
      Выйти
    </button>
    <button class="btn-color" mat-raised-button (click)="clearAllFields()">
      Очистить
    </button>
  </div>
</div>
