<div class="text-center login-div">
    <main class="form-signin login-form">
      <h1 class="h3 mb-3 fw-normal">Введите логин и пароль</h1>

      <mat-form-field class="form-floating login-data">
        <mat-label>Идентификационный номер паспорта</mat-label>
        <input matInput required [(ngModel)]='data.passportNumber'>
      </mat-form-field>

      <mat-form-field class="form-floating login-data">
        <mat-label>Пароль</mat-label>
        <input matInput type="password" required [(ngModel)]='data.password'>
      </mat-form-field>

      <button mat-raised-button color='primary' class="w-100" (click)='logIn()'>Войти</button>

      <h4 *ngIf="invalidLogin" class="mb-3 form-data">
        <b>Пароль или Идентификатор неверен</b>
      </h4>
    </main>
  </div>
