.login-div {
  margin: auto;
  max-width: 400px;
  margin-top: 200px;
}

.login-data {
  margin-bottom: 12px;

  width: 100%;
}

.form-data {
  margin: 0px;
  margin-top: 10px;
}

.login-form {
  padding: 15px;
  border-width: 3px;
  border-color: black;
  border: solid;
  background-color: white;
  opacity: 0.93;
}

body {
  background-image: url("https://images.wallpaperscraft.ru/image/single/kamufliazh_maskirovka_uzor_130760_3840x2160.jpg") !important;
}
