<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#5ac2e7" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white">
    Please wait...
  </p>
</ngx-spinner>
<div class="content">
  <mat-tab-group (selectedIndexChange)="tabChange()" mat-stretch-tabs="false" headerPosition="below"
    mat-align-tabs="center">
    <mat-tab label="Руководство">
      <app-guide [user]="user"></app-guide>
    </mat-tab>
    <mat-tab *ngIf="user && isUserAuthenticated() && !isCurrentUserAdmin && validateMCardRoles()" label="Медкарта">
      <app-medical-card [user]="user"></app-medical-card>
    </mat-tab>
    <mat-tab *ngIf="user && isUserAuthenticated() && !isCurrentUserAdmin && validateEnlRoles()" label="Призывы">
      <app-enlistments [user]="user"></app-enlistments>
    </mat-tab>
  </mat-tab-group>
</div>
