.content {
  width: 80%;
  min-height: calc(100vh - 50px);
  margin: auto;

  background-color: white;

  text-align: center;
}

@media screen and (max-width: 620px) {
  .content {
    width: 100%;
  }
}
