<div>
    <mat-drawer-container class="example-container-static" autosize>
        <mat-drawer *ngIf="!isGuest()" #drawer opened class="example-sidenav" mode="side">
            <div fxLayout="column">
                <div>
                    <button class="guide-button" *ngIf="isVisible('User')" (click)="currentGuide='User'"
                        mat-flat-button>
                        Руководство для гостей
                    </button>
                </div>
                <div>
                    <button class="guide-button" *ngIf="isVisible('Civilian')" (click)="currentGuide='Civilian'"
                        mat-flat-button>
                        Руководство для призывников
                    </button>
                </div>
                <div>
                    <button class="guide-button" *ngIf="isVisible('Employee')" (click)="currentGuide='Employee'"
                        mat-flat-button>
                        Руководство для сотрудников
                    </button>
                </div>
                <div>
                    <button class="guide-button" *ngIf="isVisible('Admin')" (click)="currentGuide='Admin'"
                        mat-flat-button>
                        Руководство для администратора
                    </button>
                </div>
            </div>
        </mat-drawer>

        <div class="example-sidenav-content">
            <app-user-guide class="guide" *ngIf="currentGuide == 'Civilian'"></app-user-guide>
            <app-employee-guide class="guide" *ngIf="currentGuide == 'Employee'"></app-employee-guide>
            <app-admin-guide class="guide" *ngIf="currentGuide == 'Admin'"></app-admin-guide>
            <app-guest-guide class="guide" *ngIf="currentGuide == 'User' && isGuestVisible()"></app-guest-guide>
        </div>

    </mat-drawer-container>

    <mat-drawer-container class="example-container-dynamic" autosize>
        <mat-drawer #drawer1 [(opened)]="opened" class="example-sidenav" mode="side">
            <div class="guide-textarea" fxLayout="column">
                <div *ngIf="isVisible('User')">
                        Руководство для неавторизованных пользователей
                </div>
                <div>
                    <button class="guide-button" *ngIf="isVisible('Civilian')" (click)="currentGuide='User'"
                        mat-flat-button>
                        Руководство для призывников
                    </button>
                </div>
                <div>
                    <button class="guide-button" *ngIf="isVisible('Employee')" (click)="currentGuide='Employee'"
                        mat-flat-button>
                        Руководство для сотрудников
                    </button>
                </div>
                <div>
                    <button class="guide-button" *ngIf="isVisible('Admin')" (click)="currentGuide='Admin'"
                        mat-flat-button>
                        Руководство для администратора
                    </button>
                </div>
                <div>
                    <!-- <button (click)="drawer1.toggle()" class="hide-guide-button"  mat-flat-button> -->
                    <button (click)="toggle(false)" class="hide-guide-button" mat-flat-button>
                        Спрятать
                    </button>
                </div>
            </div>
        </mat-drawer>

        <div (click)="toggle(true)" class="example-sidenav-content">
            <app-user-guide *ngIf="currentGuide == 'User'"></app-user-guide>
            <app-employee-guide *ngIf="currentGuide == 'Employee'"></app-employee-guide>
            <app-admin-guide *ngIf="currentGuide == 'Admin'"></app-admin-guide>
        </div>

    </mat-drawer-container>
</div>