.example-container-static {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-container-dynamic {
  display: none;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  min-height: calc(100vh - 100px);
}

.example-sidenav {
  padding: 20px;
}

.guide-button {
  width: 100%;
}

.hide-guide-button {
  display: none;
  width: 100%;
}

.guide{
  width: 100%;
}

@media screen and (max-width: 620px) {
  .example-container-static {
    display: none;
  }

  .example-container-dynamic{
    display: contents;
  }

  .hide-guide-button{
    display: contents;
  }
}
