<p>Добавить описание болезни</p>
<div class="div-width" mat-dialog-content>
  <mat-form-field class="form-floating login-data">
    <mat-label>Результат обследования</mat-label>
    <input matInput required [(ngModel)]='medicalExamination.examinationResult'>
  </mat-form-field>

  <mat-form-field class="form-floating login-data">
    <mat-label>Дата обследования</mat-label>
    <input matInput required [(ngModel)]='medicalExamination.examinationDate' [matDatepicker]="picker">
    <mat-hint>MM/ДД/ГГГГ</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
<button mat-flat-button [disabled]="!isFilled()" class="bottom-margin" (click)="add()" color="primary">Добавить</button>
