<div *ngIf='user' class="col-md-7 col-lg-8 register-div">
    <div class="row g-3">
      <h2 class='form-data'>
        <b>Персональная информация</b>
      </h2>

      <mat-form-field class="example-full-width input-margins">
        <mat-label>Идентификационный номер</mat-label>
        <input [disabled]='true' matInput [(ngModel)]='user.passportNumber'>
      </mat-form-field>

      <mat-form-field class="example-full-width input-margins">
        <mat-label>Имя пользователя</mat-label>
        <input [disabled]='!isInEditing' matInput [(ngModel)]='user.name'>
      </mat-form-field>

      <mat-form-field class="example-full-width input-margins">
        <mat-label>Фамилия пользователя</mat-label>
        <input [disabled]='!isInEditing' matInput [(ngModel)]='user.surname'>
      </mat-form-field>

      <mat-form-field class="example-full-width input-margins">
        <mat-label>Отчество пользователя</mat-label>
        <input [disabled]='!isInEditing' matInput [(ngModel)]='user.patronymic'>
      </mat-form-field>

      <mat-form-field class="example-full-width input-margins">
        <mat-label>Адрес проживания</mat-label>
        <input [disabled]='!isInEditing' matInput [(ngModel)]='user.currentAddress'>
      </mat-form-field>

      <mat-form-field class="example-full-width input-margins">
        <mat-label>Email</mat-label>
        <input [disabled]='!isInEditing' matInput [(ngModel)]='user.email'>
      </mat-form-field>

      <mat-form-field class="example-full-width input-margins">
        <mat-label>Телефонный номер</mat-label>
        <input [disabled]='!isInEditing' matInput [(ngModel)]='user.phoneNumber'>
      </mat-form-field>

      <mat-form-field class="example-full-width input-margins">
        <mat-label>Адрес прописки</mat-label>
        <input [disabled]='!isInEditing' matInput [(ngModel)]='user.placeOfResidence'>
      </mat-form-field>

      <mat-form-field *ngIf="user.userType == 1" class="example-full-width input-margins">
        <mat-label>Номер паспорта</mat-label>
        <input [disabled]='!isInEditing' matInput [(ngModel)]='user.passportIdentificationNumber'>
      </mat-form-field>

      <mat-form-field *ngIf="user.userType == 0" class="example-full-width input-margins">
        <mat-label>Звание</mat-label>
        <input [disabled]='!isInEditing' matInput [(ngModel)]='user.rank'>
      </mat-form-field>

      <mat-form-field *ngIf="user.userType == 0" class="example-full-width input-margins">
        <mat-label>Дата начала службы</mat-label>
        <input [disabled]='!isInEditing' matInput [(ngModel)]='user.serviceStartDate'>
      </mat-form-field>

      <mat-form-field *ngIf="user.userType == 0" class="example-full-width input-margins">
        <mat-label>Дата начала работы</mat-label>
        <input [disabled]='!isInEditing' matInput [(ngModel)]='user.workStartDate'>
      </mat-form-field>

      <div class="buttons">
        <div class="cancel-button">
          <button mat-stroked-button [disabled]='isInEditing' (click)='startEditing()'>Редактировать</button>
        </div>
        <div class="submit-button">
          <button mat-raised-button [disabled]='!isInEditing'
            (click)='saveChanges()' color="primary">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf='user' class="col-md-7 col-lg-8 register-div">
    <div class="row g-3">
      <h2 class='form-data'>
        <b>Данные для входа в аккаунт</b>
      </h2>

      <mat-form-field class="example-full-width input-margins">
        <mat-label>Номер паспорта</mat-label>
        <input [disabled]='true' matInput [(ngModel)]='user.passportNumber'>
      </mat-form-field>

      <mat-form-field *ngIf="isInEditingPass" type="password" class="example-full-width input-margins">
        <mat-label>Действующий пароль</mat-label>
        <input [disabled]='!isInEditingPass' type="password" matInput [(ngModel)]='updatePass.oldPassword'>
      </mat-form-field>

      <mat-form-field *ngIf="isInEditingPass" class="example-full-width input-margins">
        <mat-label>Новый пароль</mat-label>
        <input [disabled]='!isInEditingPass' type="password" matInput [(ngModel)]='updatePass.newPassword'>
      </mat-form-field>

      <h1 *ngIf="invalidPass">Invalid pass</h1>

      <div class="buttons">
        <div class="cancel-button">
          <button mat-stroked-button [disabled]='isInEditingPass' (click)='startEditingPass()'>Обновить пароль</button>
        </div>
        <div class="submit-button">
          <button mat-raised-button [disabled]='!isInEditingPass'
            (click)='updatePassword()' color="primary">Сохранить</button>
        </div>
      </div>
    </div>
  </div>
