.register-div {
    margin: auto;
    margin-top: 20px;
    max-width: 600px;
    background-color: white;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15%;
}

.form-data {
    margin: 0px;
    margin-top: 15px;
    margin-left: -10px;
}

.submit-button {
    button {
        width: 255px;
    }

    margin-top: 8px;
    margin-bottom: 10px;
}

.cancel-button {
    button {
        width: 145px;
    }

    margin-right: 10px;
    margin-top: 8px;
    margin-bottom: 10px;
}

.input-margins{
    margin-left: 10px;
    margin-right: 10px;
}
