<div class='enlistment-content' fxLayout="row" fxLayoutAlign="start center">

  <!-- Окно личных данных для призывника  -->
  <div *ngIf="isCivilian()" class="card-div" fxLayout="row" fxLayoutAlign="start center">
    <mat-card class="card">
      <mat-card-header class="header">Повестка</mat-card-header>
      <mat-card-content>
        <div div fxLayout="column" fxLayoutAlign="center center">
          <mat-divider></mat-divider>
          <div class="card-data-divs-margin">Кому: {{user.surname}} {{user.name}}</div>
          <mat-divider></mat-divider>
          <div class="card-data-divs-margin">Статус: {{GetChoosenSubpoenaState()}} </div>
          <mat-divider></mat-divider>
          <div class="card-data-divs-margin">Отправлена: {{getChoosenSubpoenaSended()}}</div>
          <mat-divider></mat-divider>
          <div class="card-data-divs-margin">Дней чтобы явиться: {{getChoosenSubpoenaDaysActive()}}</div>
          <mat-divider></mat-divider>
          <div class="card-data-divs-margin">Необходимая дата явки: {{getChoosenSubpoenaSoldierDateOfArriving()}}</div>
          <mat-divider></mat-divider>
          <div class="card-data-divs-margin">Ответственный: {{getChoosenSubpoenaSignaturerData()}}</div>
          <mat-divider></mat-divider>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->

  <!-- Окно пользователей для сотрудника -->
  <div *ngIf="!isCivilian()" class="card-div" fxLayout="row" fxLayoutAlign="start center">
    <mat-card class="card">
      <mat-card-header class="header">Призывники</mat-card-header>
      <mat-card-content>
        <mat-accordion>
          <div style="height: calc(750px - 56px - 80px)">
            <div *ngFor='let user of users'>
              <mat-expansion-panel [ngClass]="{'checked-enl': isChecked(user)}" [expanded]="false" (opened)="false"
                hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{user.surname}} {{user.name}} {{user.patronymic}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{user.passportNumber}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <button *ngIf="!isChecked(user)" (click)="updateCheckedList(user)" mat-fab extended color="primary">
                  <mat-icon>check_circle</mat-icon>Выбрать
                </button>
                <button *ngIf="isChecked(user)" (click)="updateCheckedList(user)" mat-fab extended color="warn">
                  <mat-icon>remove_circle_outline</mat-icon>Исключить
                </button>
                <button mat-flat-button class="prof-button" color="primary">Открыть профиль</button>
              </mat-expansion-panel>
            </div>
          </div>
        </mat-accordion>
        <div fxLayout="row" fxLayoutAlign="center end">
          <mat-paginator class="paginator-position" fxFill [length]="usersCount" (page)="handlePageChange($event)"
            [hidePageSize]="true" [pageSize]="10" [showFirstLastButtons]="true" aria-label="Select page">
          </mat-paginator>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->

  <div class="add-ons-div" fxLayout="column" fxLayoutAlign="start center">

    <!-- Окно призывов для гражданского -->
    <mat-card *ngIf="isCivilian()" class="enlistments-add-on-card">
      <mat-card-header class="header">Призывы
        {{user.name}}</mat-card-header>
      <mat-card-content>
        <div div fxLayout="column" fxLayoutAlign="center center">
          <mat-accordion>
            <div>
              <div *ngFor='let enl of enlistments'>
                <mat-expansion-panel [expanded]="enlistmentStep === enl.id" (opened)="setEnlistmentStep(enl.id)"
                  hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Призыв
                    </mat-panel-title>
                    <mat-panel-description>
                      Начало: {{enl.startDate}} - Конец: {{enl.endDate}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </div>
            </div>
          </mat-accordion>
        </div>
      </mat-card-content>
      <mat-card-footer class="footer">
        <div fxLayout="row" fxLayoutAlign="center end">
          <mat-paginator class="paginator-position" fxFill [length]="enlistmentCount"
            (page)="handleEnlistmentPageChange($event)" [hidePageSize]="true" [pageSize]="3"
            [showFirstLastButtons]="true" aria-label="Select page">
          </mat-paginator>
        </div>
      </mat-card-footer>
    </mat-card>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->

    <!-- Окно призывов для сотрудника -->
    <mat-card *ngIf="!isCivilian()" class="enlistments-add-on-card">
      <mat-card-header class="header">Призывы</mat-card-header>
      <mat-card-content>
        <div div fxLayout="column" fxLayoutAlign="center center">
          <mat-accordion>
            <div>
              <div *ngFor='let enl of enlistments'>
                <mat-expansion-panel [ngClass]="{'checked-enl': isEnlistmentChecked(enl)}"
                  [expanded]="enlistmentStep === enl.id" (opened)="setEnlistmentByEmployee(enl); isPropperDate(enl)" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Призыв
                    </mat-panel-title>
                    <mat-panel-description>
                      Начало: {{enl.startDate}} - Конец: {{enl.endDate}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <button mat-flat-button class="prof-button" (click)="routeToEnlistment(enl.id)"
                    color="primary">Открыть призыв</button>
                </mat-expansion-panel>
              </div>
            </div>
          </mat-accordion>
        </div>
      </mat-card-content>
      <mat-card-footer class="footer">
        <div fxLayout="row" fxLayoutAlign="center end">
          <mat-paginator class="paginator-position" fxFill [length]="enlistmentCount"
            (page)="handleEnlistmentPageChange($event)" [hidePageSize]="true" [pageSize]="3"
            [showFirstLastButtons]="true" aria-label="Select page">
          </mat-paginator>
        </div>
      </mat-card-footer>
    </mat-card>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->

    <!-- Окно повесток призывника -->
    <mat-card *ngIf="isCivilian()" class="subpoenas-add-on-card">
      <mat-card-header class="header">Повестки
        {{user.name}}</mat-card-header>
      <mat-card-content>
        <div div fxLayout="column" fxLayoutAlign="center center">
          <mat-accordion>
            <div>
              <div *ngFor='let sub of subpoenas'>
                <!-- <div> -->
                <mat-expansion-panel [expanded]="subpoenaStep === sub.id" (opened)="setSubpoenaStep(sub.id, sub)"
                  hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Статус: {{GetSubpoenaState(sub)}}
                    </mat-panel-title>
                    <mat-panel-description>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                </mat-expansion-panel>
              </div>
            </div>
          </mat-accordion>
        </div>
      </mat-card-content>
      <mat-card-footer class="footer">
        <div fxLayout="row" fxLayoutAlign="center end">
          <mat-paginator class="paginator-position" fxFill [length]="subpoenaCount"
            (page)="handleSubpoenaPageChange($event)" [hidePageSize]="true" [pageSize]="3" [showFirstLastButtons]="true"
            aria-label="Select page">
          </mat-paginator>
        </div>
      </mat-card-footer>
    </mat-card>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->

    <!-- Окно действий сотрудника -->
    <mat-card *ngIf="!isCivilian()" class="subpoenas-card">
      <mat-card-header class="user-func-header">
        <p>Добавить призыв</p>
        <p>Повестки</p>
      </mat-card-header>
      <mat-card-content>
        <div div fxLayout="column" fxLayoutAlign="center center">
          <!-- <mat-grid-list cols="2" rowHeight="1:2"> -->
          <mat-grid-list cols="2">
            <mat-grid-tile class="user-func-grid-column left-frid-col">
              <app-add-enlistment (updateEnlistments)="updateEnlistmentsList()"></app-add-enlistment>
            </mat-grid-tile>
            <mat-grid-tile class="user-func-grid-column">
              <div>
                <div *ngIf="choosedConsCount()!=0">{{choosedConsCount()}} Призывников выбрано для отправления Повестки
                </div>
                <div *ngIf="choosedConsCount()==0">Не выбрано ни одного призывника</div>
                <br>
                <div *ngIf="enlistmentStep=='' && !isCheckedEnlFinished">Призыв не выбран</div>
                <div *ngIf="enlistmentStep!='' && isCheckedEnlFinished">Нельзя отправить повестки на завершившийся призыв</div>
                <button *ngIf="enlistmentStep!='' && !isCheckedEnlFinished" [disabled]="choosedConsCount()==0"
                  (click)="send()" mat-raised-button color="primary">Отправить</button>
              </div>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->
  </div>
</div>
