<mat-nav-list>
    <a mat-list-item (click)="update(0)">
        <span matListItemTitle>Группа А</span>
        <span matLine>Описание</span>
    </a>

    <a mat-list-item (click)="update(1)">
        <span matListItemTitle>Группа Б</span>
        <span matLine>Описание</span>
    </a>

    <a mat-list-item (click)="update(2)">
        <span matListItemTitle>Группа В</span>
        <span matLine>Описание</span>
    </a>

    <a mat-list-item (click)="update(3)">
        <span matListItemTitle>Группа Г</span>
        <span matLine>Описание</span>
    </a>

    <a mat-list-item (click)="update(4)">
        <span matListItemTitle>Группа Д</span>
        <span matLine>Описание</span>
    </a>
</mat-nav-list>