<div>
    <mat-form-field>
        <mat-label>Период проведения</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input [(ngModel)]="startDate" matStartDate placeholder="Дата начала">
          <input [(ngModel)]="endDate" matEndDate placeholder="Дата конца">
        </mat-date-range-input>
        <mat-hint>MM/ДД/ГГГГ – MM/ДД/ГГГГ</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <button [disabled]="!isDataValid()" class="add-enl-button" (click)="save()" mat-raised-button color="primary">Добавить</button>
</div>