<div fxFlex>
    <div class='medical-card-content' fxLayout="row" fxLayoutAlign="start center" fxFlex>

        <!-- Медицинская карта призывника   -->
        <div class="card-div" *ngIf="isCivilian()" fxLayout="row" fxLayoutAlign="start center">
            <mat-card class="card">
                <mat-card-header class="header">Медицинская карта призывника: {{user.surname}}
                    {{user.name}}</mat-card-header>
                <mat-card-content>
                    <div div fxLayout="column" fxLayoutAlign="center center">
                        <mat-divider></mat-divider>
                        <div class="card-data-divs-margin">Номер паспорта: {{user.passportNumber}}</div>
                        <mat-divider></mat-divider>
                        <div class="card-data-divs-margin">Номер военного билета: {{getMilitaryId()}}</div>
                        <mat-divider></mat-divider>
                        <div class="card-data-divs-margin">Адрес прописки: {{user.currentAddress}}</div>
                        <mat-divider></mat-divider>
                        <div class="card-data-divs-margin">Группа годности: {{getValidityGroup()}}</div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- /////////////////////////////////////////////////////////////////////////////////////////// -->

        <!-- Список призывников для медицинского сотрудника -->
        <div *ngIf="!isCivilian()" class="card-div" fxLayout="row" fxLayoutAlign="start center">
            <mat-card class="card-conscripts">
                <mat-card-header class="header">Призывники</mat-card-header>
                <mat-card-content>
                    <mat-accordion>
                        <div class="full-height">
                            <div *ngFor='let user of users'>
                                <mat-expansion-panel [ngClass]="{'checked-enl': isChecked(user)}" [expanded]="false"
                                    (opened)="false" hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{user.surname}} {{user.name}} {{user.patronymic}}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{user.passportNumber}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <button *ngIf="!isChecked(user)" (click)="checkUser(user)" mat-fab extended
                                        color="primary">
                                        <mat-icon>check_circle</mat-icon>Выбрать
                                    </button>
                                    <!-- <button *ngIf="isChecked(user)" (click)="updateCheckedList(user)" mat-fab extended color="warn">
                      <mat-icon>remove_circle_outline</mat-icon>Исключить
                    </button> -->
                                    <button [ngClass]="{'prof-button': !isChecked(user)}" mat-flat-button
                                        color="primary">Открыть профиль</button>
                                </mat-expansion-panel>
                            </div>
                        </div>
                    </mat-accordion>
                    <div fxLayout="row" fxLayoutAlign="center end">
                        <mat-paginator class="paginator-position" fxFill [length]="usersCount"
                            (page)="handlePageChange($event)" [hidePageSize]="true" [pageSize]="10"
                            [showFirstLastButtons]="true" aria-label="Select page">
                        </mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- /////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="add-ons-div" fxLayout="column" fxLayoutAlign="start center">

            <!-- Медицинская карта призывника для медицинского сотрудника -->
            <div class="choosed-card-div" *ngIf="!isCivilian()" fxLayout="row" fxLayoutAlign="start center">
                <mat-card class="choosed-card">
                    <mat-card-header class="header">Медицинская карта призывника: {{choosedUser.surname}}
                        {{choosedUser.name}}</mat-card-header>
                    <mat-card-content>
                        <div div fxLayout="column" fxLayoutAlign="center center">
                            <mat-divider></mat-divider>
                            <div class="card-data-divs-margin">
                                <div class="left-info-div">Идентификационный номер: {{choosedUser.passportNumber}}</div>
                                <div class="right-info-div">Номер паспорта: {{getChoosedIDNUmber()}}</div>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="card-data-divs-margin">
                                <div class="left-info-div">Адрес прописки: {{choosedUser.currentAddress}}</div>
                                <div class="right-info-div">Адрес проживания: {{choosedUser.placeOfResidence}}</div>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="card-data-divs-margin">
                                <div class="left-info-div">Группа годности: {{getValidityGroup()}} 
                                        <button mat-flat-button *ngIf="isUserChoosed()" class="change-g"
                                        (click)="openBottomSheet()" color="primary">Сменить</button></div>
                                <div class="right-info-div">{{choosedIsServicePassed()}}</div>
                            </div>
                            <mat-divider
                                *ngIf="choosedUser.militaryIdentificator && choosedUser.militaryIdentificator.isMilitaryServicePassed"></mat-divider>
                            <div *ngIf="choosedUser.militaryIdentificator && choosedUser.militaryIdentificator.isMilitaryServicePassed"
                                class="card-data-divs-margin">
                                <div class="left-info-div">{{getChoosedMilitaryId()}}</div>
                                <div class="right-info-div">Военно-учетная специальность:
                                    {{choosedUser.militaryIdentificator.militarySpeciality}}</div>
                            </div>
                            <mat-divider></mat-divider>
                            <div style="margin-top: 15px; margin-bottom: 15px;">Список болезней призывника</div><button mat-flat-button *ngIf="isUserChoosed()" class="add" (click)="openIssueBottomSheet()" color="primary">Добавить</button>
                            <div div fxLayout="column" fxLayoutAlign="center center">
                                <mat-accordion>
                                    <div>
                                        <div *ngFor='let issue of medicalCard.issues'>
                                            <mat-expansion-panel [expanded]="issueStep === issue.id"
                                                (opened)="setIssueStep(issue.id)" hideToggle>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Название: {{issue.name}}
                                                    </mat-panel-title>
                                                    <mat-panel-description>
                                                        Дата первого диагноза: {{issue.dateOfDiagnosis | date:
                                                        'dd:MM:YYYY'}}
                                                    </mat-panel-description>
                                                </mat-expansion-panel-header>
                                                <p>Доктор: {{issue.doctorData}}</p>
                                                <p>Описание: {{issue.description}}</p>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </mat-accordion>
                            </div>
                            <mat-divider></mat-divider>
                            <div style="margin-top: 15px; margin-bottom: 15px;">Список медосмотров призывника</div><button mat-flat-button *ngIf="isUserChoosed()" class="add" (click)="openExamBottomSheet()" color="primary">Добавить</button>
                            <div div fxLayout="column" fxLayoutAlign="center center">
                                <mat-accordion>
                                    <div>
                                        <div *ngFor='let examination of medicalCard.medicalExaminations'>
                                            <mat-expansion-panel [expanded]="examinationStep === examination.id"
                                                (opened)="setExaminationStep(examination.id)" hideToggle>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title>
                                                        Медосмотр {{examination.examinationDate | date: 'dd:MM:YYYY'}}
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <p>Результат: {{examination.examinationResult}}</p>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </mat-accordion>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <!-- /////////////////////////////////////////////////////////////////////////////////////////// -->

            <!-- Список болезней для призывника -->
            <mat-card *ngIf="isCivilian()" class="issues-add-on-card">
                <mat-card-header class="header">Диагнозы и болезни
                    {{user.name}}</mat-card-header>
                <mat-card-content>
                    <div div fxLayout="column" fxLayoutAlign="center center">
                        <mat-accordion>
                            <div>
                                <div *ngFor='let issue of issuesPage'>
                                    <mat-expansion-panel [expanded]="issueStep === issue.id"
                                        (opened)="setIssueStep(issue.id)" hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Название: {{issue.name}}
                                            </mat-panel-title>
                                            <mat-panel-description>
                                                Дата первого диагноза: {{issue.dateOfDiagnosis}}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <p>Доктор: {{issue.doctorData}}</p>
                                        <p>Описание: {{issue.description}}</p>
                                    </mat-expansion-panel>
                                </div>
                            </div>
                        </mat-accordion>
                    </div>
                </mat-card-content>
                <mat-card-footer class="footer">
                    <div fxLayout="row" fxLayoutAlign="center end">
                        <mat-paginator class="paginator-position" fxFill [length]="issuesCount"
                            (page)="handleIssuePageChange($event)" [hidePageSize]="true" [pageSize]="3"
                            [showFirstLastButtons]="true" aria-label="Select page">
                        </mat-paginator>
                    </div>
                </mat-card-footer>
            </mat-card>
            <!-- /////////////////////////////////////////////////////////////////////////////////////////// -->

            <!-- Список медосмотров призывника -->
            <mat-card *ngIf="isCivilian()" class="examinations-add-on-card">
                <mat-card-header class="header">Медицинские осмотры
                    {{user.name}}</mat-card-header>
                <mat-card-content>
                    <div div fxLayout="column" fxLayoutAlign="center center">
                        <mat-accordion>
                            <div>
                                <div *ngFor='let examination of examinationsPage'>
                                    <mat-expansion-panel [expanded]="examinationStep === examination.id"
                                        (opened)="setExaminationStep(examination.id)" hideToggle>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Медосмотр {{examination.examinationDate}}
                                            </mat-panel-title>
                                            <mat-panel-description>
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <p>Результат: {{examination.examinationResult}}</p>
                                    </mat-expansion-panel>
                                </div>
                            </div>
                        </mat-accordion>
                    </div>
                </mat-card-content>
                <mat-card-footer class="footer">
                    <div fxLayout="row" fxLayoutAlign="center end">
                        <mat-paginator class="paginator-position" fxFill [length]="examinationsCount"
                            (page)="handleExaminationPageChange($event)" [hidePageSize]="true" [pageSize]="3"
                            [showFirstLastButtons]="true" aria-label="Select page">
                        </mat-paginator>
                    </div>
                </mat-card-footer>
            </mat-card>
            <!-- /////////////////////////////////////////////////////////////////////////////////////////// -->

        </div>
    </div>
</div>