.medical-card-content {
  display: flex;
  height: 100%;
  // align-items: center;
  // justify-content: center;
  min-height: calc(100vh - 100px);
  background-color: rgb(209, 199, 199);
}

.card {
  width: 100%;
  min-height: 300px;
  margin: 15px;
  margin-top: 35%;
}

.choosed-card{
  width: 100%;
  min-height: 750px;
  margin: 15px;
}

.full-height{
  height: calc(750px - 56px - 80px)
}

.left-info-div{
  left: 15px;
}

.right-info-div{
  margin-left: auto;
  margin-right: 15px;
}

.card-conscripts {
  width: 100%;
  min-height: 300px;
  margin: 15px;
}

.checked-enl {
  background-color: yellowgreen;
}

.card-button{
  margin-left: 10px;
}

.prof-button {
  margin-bottom: 15px;
  margin-left: 20px;
}

.card-div {
  height: 100%;
  width: 45%;
}

.choosed-card-div{
  height: 100%;
  width: 100%;
}

.change-g{
  margin-left: 15px;
}

.add{
  margin-left: 15px;
  margin-bottom: 10px;
}

.card-data-divs-margin {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
}

.paginator-position {
  width: 50% !important;
  margin: auto;
}

.header {
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.footer {
  margin-top: auto;
}

.add-ons-div {
  height: 100%;
  width: 47%;
  margin-left: auto;
  margin-right: 30px;
}

.issues-add-on-card {
  width: 100%;
  height: 320px;
  margin: 15px;
  margin-top: 3%;
}

.examinations-add-on-card {
  width: 100%;
  height: 320px;
  margin: 15px;
  margin-top: 20px;
  margin-bottom: 3%;
}

p{
  margin-top: 5px;
}

@media screen and (max-width: 620px) {
  .medical-card-content {
    flex-direction: column;
  }

  .card-div {
    height: 30%;
    width: 100%;
  }

  .add-ons-div {
    height: 45%;
    width: 93%;
    margin-left: auto;
    margin-right: 30px;
  }

  .card {
    width: 93%;
    height: 100%;
    margin: 15px;
    margin-top: 5%;
  }

  .issues-add-on-card {
    height: 45%;
    margin: 15px;
    margin-top: 3%;
  }

  .examinations-add-on-card {
    height: 45%;
    margin: 15px;
    margin-top: 20px;
    margin-bottom: 3%;
  }

  .mat-expansion-panel-header {
    height: 60px;
  }
}
