/* You can add global styles to this file, and also import other style files */

a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("https://images.wallpaperscraft.ru/image/single/kamufliazh_maskirovka_uzor_130760_3840x2160.jpg") !important;
}
