.guide-textarea {
    display: block;
    width: 100%;
    text-align: start;

    p {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 5px;
        font-size: 18px;
        line-height: 1.5;
    }

    img{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 25px;
        max-width: calc(100% - 30px);
    }
}

.under-image-div{
    text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}

.guide-name {
    margin-left: 27%;
    margin-top: 15px;

    h3 {
        font-weight: bold;
        font-size: 24px;
    }
}
