<div class="guide-textarea">
<div class="guide-name"><h3>Руководство для неавторизованных пользователей</h3></div>
<p class="example-sidenav-content" >
    Если вы видите это руководство, значит вы вошли в систему как гость.
    Гостям недоступна функциональность данной системы. 
    Для полноценного использования системы "Военный комиссариат" вам необходимо авторизоваться.
    Аккаунты в системе создаются специально уполномоченными пользователями. 
    Если у вас нет аккаунта, или не получается войти по предоставленным военкоматом данным, обратитесь в военкомат, к которому вы приписаны.
    Следующие шаги руководства актуальны для пользователей имеющих созданные аккаунты в системе. 
</p>
<p class="example-sidenav-content" >
    Для входа в систему необходимо перейти на страницу авторизации. 
    Кнопка "Войти в систему" появляется после нажатия на иконку  
    <mat-icon>
        account_circle
    </mat-icon>
     В правом верхнем углу навигационной панели сверху.
</p>
<img src="/assets/GuestGuide.png" alt="image">
<div class="under-image-div">
    Расположение иконки
    <mat-icon>
        account_circle
    </mat-icon>
</div>
<img src="/assets/GuestGuide2.png" alt="image">
<div class="under-image-div">
    Кнопка "Войти в систему"
</div>
<p class="example-sidenav-content" >
    После нажатия на кнопку "Войти в систему" будет выполнен переход на страницу входа в систему. 
</p>
<img src="/assets/GuestGuide3.png" alt="image">
<div class="under-image-div">
    Страница входа в систему
</div>
<p class="example-sidenav-content" >
    После успешного ввода данных система авторизует вас и вы получите доступ к функциональности определяемой вашей ролью в системе. 
    При невернов вводе идентификационного номера паспорта или пароля система оповести вас о том, что введенные данные неправильны.
</p>
</div>