<div class="content">
  <div class='enlistment-content' fxLayout="row" fxLayoutAlign="start center">
    <div class="card-div" fxLayout="row" fxLayoutAlign="start center">
      <mat-card class="card">
        <mat-card-header class="header">Призывники</mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <div style="height: calc(750px - 56px - 80px)">
              <div *ngFor='let user of conscripts'>
                <mat-expansion-panel [ngClass]="{'arrived-enl': checkArrived(user),
                                                 'overdue-enl': !checkArrived(user)}" [expanded]="false"
                  (opened)="false" hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{user.surname}} {{user.name}} {{user.patronymic}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{user.passportNumber}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <button *ngIf="!checkArrived(user)" (click)="updateConscript(user)" mat-fab extended color="primary">
                    <mat-icon>check_circle</mat-icon>Явился
                  </button>
                  <button *ngIf="checkArrived(user)" (click)="updateConscript(user)" mat-fab extended color="warn">
                    <mat-icon>remove_circle_outline</mat-icon>Не явился
                  </button>
                  <button mat-flat-button class="prof-button" color="primary">Открыть профиль</button>
                </mat-expansion-panel>
              </div>
            </div>
          </mat-accordion>
          <div fxLayout="row" fxLayoutAlign="center end">
            <mat-paginator class="paginator-position" fxFill [length]="usersCount" (page)="handlePageChange($event)"
              [hidePageSize]="true" [pageSize]="10" [showFirstLastButtons]="true" aria-label="Select page">
            </mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="add-ons-div" fxLayout="column" fxLayoutAlign="start center">
      <mat-card class="enlistments-add-on-card">
        <mat-card-header class="header">Призыв {{enlistment.startDate}} - {{enlistment.endDate}}</mat-card-header>
        <mat-card-content>
          <div div fxLayout="column" fxLayoutAlign="center center">
            <mat-grid-list cols="2">
              <mat-grid-tile class="user-func-grid-column left-frid-col">
                <div>
                  <div class="enl-actions">
                    <button mat-flat-button class="prof-button" color="primary">Отчет по всем призывникам</button>
                  </div>
                  <div>
                    <button mat-flat-button class="prof-button" color="primary">Отчет по явившимся</button>
                  </div>
                  <div>
                    <button mat-flat-button class="prof-button" color="primary">Отчет по неявившимся</button>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile class="user-func-grid-column">
                <div>
                  <p>Всего потенциальных призывников: {{enlistmentStat.conscriptsCount}}</p>
                  <p>Количество уклонистов {{enlistmentStat.deviantsPercentage}}%</p>
                  <p>Прибыло по повесткам: {{enlistmentStat.arrived}}</p>
                  <p>Не годных: {{enlistmentStat.notValid}}</p>
                  <p>Ожидаются к прибытию: {{enlistmentStat.arrivingAwaiting}}</p>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
