.content {
  width: 80%;
  min-height: calc(100vh - 50px);
  margin: auto;

  background-color: white;

  text-align: center;
}

.enlistment-content {
  display: flex;
  height: 100%;
  // align-items: center;
  // justify-content: center;
  min-height: calc(100vh - 100px);
  background-color: rgb(209, 199, 199);
  overflow: hidden;
}

.card {
  width: 100%;
  min-height: 660px;
  margin: 15px;
  margin-top: 3%;
}

.card-div {
  height: 100%;
  width: 45%;
}

.card-data-divs-margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.header {
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;
}

.user-func-grid-column {
  width: 50%;
}

.left-frid-col {
  border: black;
  border-right: 0.1px solid;
}

.enl-actions {
  display: flex;
  flex-direction: column;
}

.user-func-header {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
  margin-top: 15px;

  p {
    width: 50%;
  }
}

.footer {
  margin-top: auto;
}

.add-ons-div {
  height: 100%;
  width: 47%;
  margin-left: auto;
  margin-right: 30px;
}

.enlistments-add-on-card {
  width: 100%;
  min-height: 320px;
  margin: 15px;
  margin-top: 3%;
}

.subpoenas-add-on-card {
  width: 100%;
  min-height: 320px;
  margin: 15px;
  margin-top: 20px;
  margin-bottom: 3%;
}

.subpoenas-card {
  width: 100%;
  height: 410px;
  margin: 15px;
  margin-top: 20px;
  margin-bottom: 3%;
}

.arrived-enl {
  background-color: yellowgreen;
}

.overdue-enl {
  background-color: rgb(223, 93, 93);
}

.prof-button {
  margin-bottom: 15px;
  margin-left: 20px;
}

.paginator-position {
  width: 50% !important;
  margin: auto;
}
