<div class="user-selector-buttons">
  <mat-button-toggle-group *ngIf="isUserAdmin()" (change)="resetPage(); updateList()" [(ngModel)]="userType" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="Civilian">Гражданские</mat-button-toggle>
    <mat-button-toggle value="Employee">Сотрудники</mat-button-toggle>
  </mat-button-toggle-group>
</div>
<mat-accordion>
  <div style="height: calc(750px - 56px - 80px)">
    <div *ngFor='let user of users'>
      <mat-expansion-panel [expanded]="step === user.passportNumber" (opened)="setStep(user.passportNumber)" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{user.surname}} {{user.name}} {{user.patronymic}}
          </mat-panel-title>
          <mat-panel-description>
            {{user.passportNumber}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{user.passportNumber}}</p>
      </mat-expansion-panel>
    </div>
  </div>
</mat-accordion>
<div fxLayout="row" fxLayoutAlign="center end">
  <mat-paginator class="paginator-position" fxFill [length]="usersCount"
  (page)="handlePageChange($event)"
  [hidePageSize]="true"
  [pageSize]="10"
  [showFirstLastButtons]="true"
  aria-label="Select page">
  </mat-paginator>
</div>
