.mat-mdc-form-field+.mat-mdc-form-field {
  margin-left: 8px;
}

.user-selector-buttons {
  margin: 15px;
  margin-left: 39%;
  margin-right: 39%
}

.paginator-position{
  width: 50% !important;
  margin: auto;
}
